name: "Emergency Rollback"

on:
  workflow_dispatch:
    # Eliminamos los inputs manuales para no preguntar dos veces

jobs:
  rollback:
    name: "Ejecutar Rollback a Producción"
    runs-on: ubuntu-latest
    environment: Production 
    
    steps:
      - name: Checkout de la Referencia Seleccionada
        uses: actions/checkout@v4
        with:
          # GitHub ya sabe qué seleccionaste en "Use workflow from"
          # Si seleccionas un TAG en ese combo, bajará ese TAG automáticamente
          ref: ${{ github.ref_name }}

      - name: Validar que sea un TAG
        run: |
          # Opcional: Esto detiene el proceso si alguien intenta usar una rama en vez de un TAG
          if [[ "${{ github.ref_type }}" != "tag" ]]; then
            echo "ERROR: Solo se permiten TAGS para Rollbacks de emergencia."
            exit 1
          fi

      - name: Deploy de Versión Estable
        env:
          ANYPOINT_ID: ${{ secrets.ANYPOINT_CLIENT_ID }}
          ANYPOINT_SECRET: ${{ secrets.ANYPOINT_CLIENT_SECRET }}
        run: |
          mvn deploy -DmuleDeploy \
            -Dclient.id="$ANYPOINT_ID" \
            -Dclient.secret="$ANYPOINT_SECRET" \
            -Denv=Production \
            -DskipTests
