name: "Production Rollback"

on:
  workflow_dispatch:

jobs:
  rollback:
    name: "Ejecutar Rollback to Producción"
    runs-on: ubuntu-latest
    environment: Production 
    
    steps:
      - name: Checkout de la Referencia Seleccionada
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
          fetch-depth: 0 # Esto permite que el pipeline encuentre los Tags
      
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Set up JDK 1.8
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 8

      - name: Validar que sea un TAG
        run: |
          if [[ "${{ github.ref_type }}" != "tag" ]]; then
            echo "ERROR: Por seguridad, solo se permiten TAGS certificados para Rollbacks."
            exit 1
          fi

      - name: Deploy de Versión Estable
        env:
          ANYPOINT_ID: ${{ secrets.CONNECTED_APP_CLIENT_ID }}
          ANYPOINT_SECRET: ${{ secrets.CONNECTED_APP_CLIENT_SECRET }}
        run: |
         # Ejecutamos el deploy usando el settings recién creado
          mvn deploy --settings .maven/settings.xml -DskipMunitTests -DmuleDeploy \
          -Dclient.id="${{ secrets.CONNECTED_APP_CLIENT_ID }}" \
          -Dclient.secret="${{ secrets.CONNECTED_APP_CLIENT_SECRET }}" \
          -Denv=Production \
          -Denv.key="${{ secrets.MULE_KEY }}" \
          -Dapp.name="test-pipeline-lfsv"
